*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color:#543a2d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}
.logo{
    color: #ECDDB6;
    letter-spacing: 5px;
    font-size: 23px;
    text-transform: uppercase;
    width: 30%;
}
.lista{
    display: flex;
    width: 40%;
    justify-content: space-around;
}
.lista__li{
    list-style: none;
}
.lista__a{
    text-decoration: none;
    color: #ECDDB6;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.lista__a::after{
    content: "";
    display: block;
    width: 0px;
    height: 3px;
    border-radius: 1px;
    background-color: white;
    transition: width .3s;    
}
.lista__a:hover::after{
    width: 100%;
}
.burger{
    display: none
}
.burger div{
    height: 3px;
    width: 25px;
    margin: 5px 0 5px 0;
    border-radius: 20px;
    background-color: white;
    transition: all 2s ease-out;
}
@media  screen and (max-width: 1024px){
    .lista{
        width: 60%;
    }
}

@media screen and (max-width: 830px){
    body{
    overflow-x: hidden;
    }
    .burger{
        display: block;
    }
    .lista{
        position: absolute;
        right: 0px;
        top: 8vh;
        height: 92vh;
        width: 50%;
        background-color: #452368;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        transform: translate(100%);
        transition: transform 1s;
    }
    .lista__li{
        opacity: 0;
        transform: translateX(100%);
        }
    .lista--activada .lista__li{
        opacity: 1;
        transform: translateX(0%);
    }
    .lista--activada{
        transform: translate(0%);
    }
    .toggle .burger__line1{
        transform: translate(0px, 9px) rotate(-45deg);
    }
    .toggle .burger__line2{
        opacity: 0;
    }
    .toggle .burger__line3{
        transform:translate(0px, -7px) rotate(45deg);
    }
}

/* -------------------------------------------------------------------inicio--------------------------------------- */

.fondo_principal{
background-color: #705b49;
height: 660px;

}

.imagen_principal{
position: absolute;
height: 85%;
width: 66%;
background-image: url(../img/pan.jpg);
background-repeat: no-repeat;
margin-left: 16%;
margin-top: 2%;
border-radius: 40%;
}

.titulo_principal{
height: 230px;
width: 1025px;
margin-top: 200px;
text-align: center;
font-size: 21px;
color: #ECDDB6;
}

/* ------------------------------------------------------------productos ------------------ */

.contenedor_Productos{
height: 235px;
width: 100%;
background-color: #562334e6;
}

.boton_productos{
text-align: center;
font-size: 20px;
width: 260px;
height: 140px;
background-color: #ECDDB6;
border-radius: 0px 0px 150px 150px;
padding-top: 87px;
margin-left: 42%;
}

.h1_productos{
padding-top: 15px;
 color: #614e3e;
}


.caja_compartida{
width: 300px;
height: 300px;
background-color: pink;
background-repeat: no-repeat;
border: 2px solid darkblue;
}

.caja1{
background-image: url(../img/berri-artepan-768x537.jpg);
background-size: cover;
}


/* ----------------------------------------------------parde de los productos */
.contenedor_Productos {
    height: 2500px;
    width: 100%;
    background-color: #a8a5ae;
    padding-top: 50px
}

.boton_productos {
    text-align: center;
    font-size: 24px;
    width: 280px;
    height: 117px;
    background-color: #d5bb42;
    color: black;
    border-radius: 0px 150px 150px 0px;
    margin-left: 1%;
    border: solid black;
}

.h1_productos {
    padding-top: 30px;
    padding-right: 45px;
    color: #614e3e;
}

.botones_flexx{
    display: flex;
}

/* ----------------------------------------------------placa solar */

.boton_productos_2{
    background-color: #cd8b2f;
    font-size: 19px;
    width: 285px;
    height: 100px;
    margin-top: 52px;
    border: solid #040404;
}

.placa_solar {
    display: flex;
    margin-bottom: 50px;
}

.imagen1 {
    width: 628px;
    height: 485px;
    background-image: url(./img/el_texto.jpg);
    background-repeat: no-repeat;
    margin-top: 80px;
    margin-left: 215px;
    border-radius: 30px;
}

.imagen2 {
    width: 325px;
    height: 525px;
    background-image: url(./img/placa\ solar.png);
    background-repeat: no-repeat;
    padding-top:  50px;
    margin-left: 120px;
}
.boton_productos_3{
    background-color: #f29f32;
}

.imagen3{
    width: 873px;
    height: 247px;
    background-image: url(./img/baterias.png);
    background-repeat: no-repeat;
    padding-top:  50px;
    margin-left: 20%;
    margin-top: 45px;
    border-radius: 51px;
}

.bot{
display: flex;
}

.bot1{
    width: 150px;
    height: 60px;
    background-color: #f1e3a2;
    border: solid;
    border-radius: 31px;
    text-align: center;
    padding-top: 20px;
    margin-right: 106px;
}

.bot2{
    width: 190px;
}

.botbot{
    margin-left: 383px;
}

.boton_productos_4{
    width: 349px;
    font-size: 21px;
    margin-top: 55px;
    background-color: #dbd96a;
}

.imagen4{
    width: 100%;
    height: 100%;
    background-image: url(./img/lol.jpg);
    background-repeat: no-repeat;
    margin-left: 20%;
    margin-top: 60px;
}
